<div class="main">
    <div class="menu">
        <div class="menuIcone"></div>
        <div class="menuIcone"></div>
        <div class="menuIcone"></div>
    </div>
    <div class="logo">
        <div>
            telegram
        </div>
    </div>
    <div class="search">
        <div class="searchIcone">
            <img src="/picture/icons8-search-26.png" alt="" (click)="show_hide()">
            @if (showHide) {
            <div class="mobile-container">
                
            </div>
            }
        </div>
    </div>
</div>